# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: packages

jobs:
  include:
  - r: release
    warnings_are_errors: true
  - r: devel
    warnings_are_errors: true

r_packages:
  - covr

after_success:
  - Rscript -e 'library(covr); codecov()'
  
before_deploy: Rscript -e 'remotes::install_cran("pkgdown")'
deploy:
  provider: script
  script: Rscript -e 'pkgdown::deploy_site_github()'
  skip_cleanup: true